.kb {
    width: 100%;
    margin: 12px 0;
}

.kbr {
    display: flex;
    justify-content: center;
}

.key {
    font-size: 20pt;
    margin: 3px;
    padding: 3px 2px;
    border: 1px solid black;
    width: 1.5ch;
    height: 1.25em;
    text-align: center;
    user-select: none;
}

.key-wide {
    width: auto;
}


.wb.noguess, .key.noguess {
    background: lightgray;
}
.wb.pos, .key.pos {
    background: #dcdc00;
}
.wb.correct, .key.correct {
    background: #23ce23;
}
.wb.wrong, .key.wrong {
    background: #6e6e6e;
}