.wbr {
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: center;
    margin: 6px 0;
}
.wb {
    font-size: 32pt;
    height: 100%;
    width: 45px;
    backdrop-filter: blur(6px);
    background: white;
    opacity: 75%;
    margin: 3px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s linear;
}