.wbr {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
}
.wb {
    font-size: 30pt;
    height: 100%;
    width: 40px;
    border: 1px solid white;
    backdrop-filter: blur(6px);
    background: white;
    opacity: 75%;
    margin: 3px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s linear;
}